<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body class="bg-gray-100 p-8">
    <div class="container mx-auto w-full max-w-full">
        <h1 class="text-3xl font-bold mb-4">Example Project</h1>

        {% if debug %}

        <div class="bg-yellow-500 text-white p-4 rounded-lg mb-4">
            <strong>Warning:</strong> The application is running in DEBUG mode.
        </div>

        {% endif %}

        <h2 class="text-2xl font-bold mb-4">Example</h2>

        <div hx-get="/partial" hx-trigger="click" hx-target="#result">
          Click me to load content
        </div>
        
        <div id="result">
          
        </div>
    </div>
</body>
</html>
